
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="shop_in_style">
        <div class="container-fluid bg-dark text-center p5em">
            <h1 class="display-4 fw-bolder text-white">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0 text-white">With this shop hompeage template</p>
        </div>
    </section>
    <div id="images" class="mt-5">
        <div class="container">
            <div class="boxes row mb-5">
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-5">
                    <div class="card">
                        <img src="img/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">Card title</h5>
                            <p class="card-text">$40.00 - $80.00</p>
                            <a href="#" class="btn btn-outline-dark mt-5">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

